[% PROCESS 'ya/head.html' %]
[% IF debug %]
<pre>
[% debug %]
</pre>
[% END %]
<body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
       <!-- Begin Header -->

     <div id="header">
          <h1>[% site_name %]</h1>
          <h2>[% site_slogan %]</h2>
     </div>
     <!-- End Header -->
     <!-- Begin Left Column -->
     <div id="leftcolumn">
       <form name="[% form_name %]" method="post">
       <table id="main_form">
        <tr>
          <td>
            <label for="filename"> Name: </label>
          </td>
          <td>
            <input type="text" name="filename" value="[% filename %]" />
          </td>
          <td>
            <label for="language"> Language: </label>
          </td>
          <td>
            <select name="language">
              [%- FOR l in langs %]
              <option value="[% l%]" [% l == language ? 'selected="selected"' : '' %]>[% l %]</option>
              [%- END %]
            </select>
          </td>
        </tr>
        <tr>
          <td>
          <!--label for="password"> Password (Optional): </label-->&nbsp;
          </td>
          <td>
          <!--input type="password" name="password" /-->&nbsp;
          </td>
          <td>
          <label for="expires"> Expires: </label>
          </td>
          <td>
          <select name="expires">
            <option value="1200">20 Minutes</option>
            <option value="3600">1 Hour</option>
            <option value="86400" selected="selected">24 Hours</option>
            <option value="604800">7 Days</option>
            <option value="1209600">14 Days</option>
            [%- IF can_forever %]
            <option value="never">Never</option>
            [%- END %]
          </select>
        </td>
       </tr>
     </table>
      [%- IF code %]
      <p><a rel="ibox&fullscreen=true" href="#inner_content">View Highlighted Code</a></p>
      <div id="inner_content" style="display:none;">
        <div style="background:#eeeeee;border:1px dashed #aaaaaa;padding:15px;margin:15px;">
          <pre>[% hl_code %]</pre>
        </div>
      </div>
      <script type="text/javascript">
        iBox.showURL('#inner_content');
      </script>
      [%- END %]
      <label for="the_code"> Code: </label><br />
      <textarea name="the_code" cols="80" rows="40">[% code %]</textarea>
      <br />
      <input type="submit" name="submit" />
    </form>
    </div>
     <!-- End Left Column -->

     
     <!-- Begin Right Column -->
     <div id="rightcolumn">
           
        <h3>Recent Pastes</h3>
        <ul>
          [%- FOR r in recent_pastes %]
          <li>
          Posted: [% r.date %]<br />
          [% r.filetype %]: <a href="?p=[% r.hash_id %]">[% r.file %]</a><br />
          Expires: [% r.expires %]<br />
          </li>
          [%-END %]
     </div>
     <!-- End Right Column -->
     
     <!-- Begin Footer -->
     <div id="footer">
         <p><small>YA::Pastebin [% version %]: <a href="http://github.com/jnbek">http://github.com/jnbek</a></small></p>
       </div>
     <!-- End Footer -->

     
   </div>
   <!-- End Wrapper -->
[% js_validation %]   
</body>
</html>

