/*
      Created by Keith Donegan of Code-Sucks.com
      
      E-Mail: Keithdonegan@gmail.com
      
      You can do whatever you want with these layouts,
      but it would be greatly appreciated if you gave a link
      back to http://www.code-sucks.com
      
*/

* { padding: 0; margin: 0; }

body {
 font-family: sans-serif;
 font-size: 13px;
}
pre {
    line-height: 1.2em;
}
#wrapper { 
 margin: 0 auto;
 width: 1022px;

}
#header {
 width: 1000px;
 float: left;
 padding: 10px;
 border: 1px solid #ccc;
 height: 48px;
 margin: 10px 0px 0px 0px;
 background: #EEEDDE;
 background-image: url('/assets/images/head-bg.gif');
 background-repeat:repeat-x;
}
#leftcolumn { 
 color: #333;
 border: 1px solid #ccc;
 background: #F1F1F1;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 min-height: 500px;
 width: 778px;
 float: left;
 background-image: url('/assets/images/main-bg.gif');
 background-repeat:repeat-y;
}
#rightcolumn { 
 float: right;
 color: #333;
 border: 1px solid #ccc;
 background: #F1F1F1;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 min-height: 500px;
 width: 200px;
 display: inline;
 background-image: url('/assets/images/column-bg.gif');
 background-repeat:repeat-y;
}
#footer { 
 width: 1000px;
 clear: both;
 border: 1px solid #ccc;
 background: #EEEDDE;
 margin: 0px 0px 10px 0px;
 padding: 10px;
 background-image: url('/assets/images/foot-bg.gif');
 background-repeat:repeat-x;
}

/* Highlighting Classes */

.alert { 
    color: #0000ff;
}
.basen {
    color: #007f00;
}
.bstring {
    color: #c9a7ff;
}
.char {
    color: #ff00ff;
}
.comment {
    color: #7f7f7f;
    font-style: italic;
}
.datatype {
    color: #0000ff;
}
.decval {
    color: #00007f;
}
.error {
    color: #ff0000;
    font-style: italic;
    font-weight: bold;
}
.float {
    color: #00007f;
}
.function {
    color: #007f00;
}
.istring {
    color: #ff0000;
}
.keyword {
    font-weight: bold;
}
.normal {
    /* leave blank for now? */
}
.operator {
    color: #ffa500;
}
.others {
    color: #b03060;
}
.regionmarker {
    color: #96b9ff;
    font-style: italic;
}
.reserved {
    color: #9b30ff;
    font-weight: bold;
}
.string {
    color: #ff0000;
}
.variable {
    color: #0000ff;
    font-weight: bold;
}
.warning {
    color: #0000ff;
    font-style: italic;
    font-weight: bold;
}
